h1 {
    color:rgb(75, 172, 252); font-family: 'Impact'
}

.red-title {
    color:red;
    font-size: 30 px;
    font-style: italic;
}

.blue-title {
    color:blue;
    font-size: 20 px;
    font-style: normal;
}

p {
    color:rgb(60, 34, 179);
    margin: 50px;
    font-family:'Courier New', Courier, monospace

}

h3{
    color:lightcoral;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}

